body{
background-color: gray;
}
.sidenav {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 50px; /* Leaves space for menu icon */
  left: -250px; /* Initially hidden */
  background-color: #111;
  padding-top: 20px;
  transition: left 0.3s ease;
}
.sidenav.open {
  left: 0; /* Show sidebar */
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s, transform 0.3s ease;
}

.sidenav a:hover {
  color: #f1f1f1;
  transform: scale(1.1);
}

.search-container {
  padding: 10px;
  margin-bottom: 20px;
}

.search-icon {
  color: #818181;
  font-size: 24px;
  cursor: pointer;
}

.search-bar {
  width: 0;
  padding: 5px;
  margin-left: 10px;
  border: none;
  background: transparent;
  color: #f1f1f1;
  font-size: 16px;
  transition: 0.3s;
}

.search-bar.active {
  width: 70%;
  border-bottom: 1px solid #f1f1f1;
} 

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  color: white;
  padding: 10px;
  border-radius: 5px;
  }

  .menu-container {
    position: fixed;
    top: 10px; /* Keeps it at the top */
    left: 10px;
    z-index: 2;
  }
  
 